---
import Card from "@/components/Card.astro";
import RootLayout from "@/layouts/RootLayout.astro";
import Pagination from "../components/Pagination.astro";

import {type Page, getCollection} from 'astro:content';
// import ListLayout from "@/layouts/ListLayout.astro";
import {ITEMS_PER_PAGE} from "@/consts";
import {sortBlogPosts, excludeDrafts} from "@/functions";
import ListWithTagsLayout from "../../layouts/ListWithTagsLayout.astro";

interface Props {
    page: Page;
}

// export async function getStaticPaths({paginate}) {
//     const posts = await getCollection('blog', excludeDrafts).then(sortBlogPosts)
//     return paginate(posts, {pageSize: ITEMS_PER_PAGE});
// }
export async function getStaticPaths({paginate}) {
    const posts = await getCollection('blog', excludeDrafts).then(sortBlogPosts)
    return paginate(posts, {pageSize: ITEMS_PER_PAGE});
}
const {page} = Astro.props;
---

<RootLayout title="Projects">
  <div class="divide-y divide-gray-200 dark:divide-gray-700">
    <div class="space-y-2 pb-8 pt-6 md:space-y-5">
      <h1
        class="text-3xl font-extrabold leading-9 tracking-tight text-gray-900 dark:text-gray-100 sm:text-4xl sm:leading-10 md:text-6xl md:leading-14"
      >
        项目
      </h1>
      <p class="text-lg leading-7 text-gray-500 dark:text-gray-400">
        关于项目实施过程中的一切信息。
      </p>
    </div>
    <div class="container py-12">
      <div class="-m-4 flex flex-wrap">
        <!-- {projectsData.map((d) => (
                        <Card title={d.title} description={d.description} imgSrc={d.imgSrc} href={d.href}/>
                ))} -->
      </div>
    </div>
    <!-- {(page.url.next || page.url.prev) && <Pagination page={page} />} -->
  </div>
</RootLayout>
